
@import "../node_modules/foundation-sites/scss/_global.scss"; // Global vars from Foundation 6

@import "mixins/_trib-colors";




// DEFAULT COLOR CHOICES
$highlight_color:$trib_blue4;

// #####################
// #######  FONTS 
// #####################

$fonts-sans-serif: 'Arial', sans-serif;
$fonts-serif: "Georgia", serif;

// #####################
// #######  CONFIGURE BREAKPOINTS
// #####################

//Less than or equal to 700px is NGUX mobile
$breakpoint-mobile:839px;

// #####################
// #######  CONFIGURE LEGENDS
// #####################

$legend_dt_width: 10px;

// #####################
// #######  CONFIGURE BUTTONS
// #####################

$foundation-palette:(
  primary: $trib_blue2,
  secondary: $trib_blue4,
  success: $trib_green3,
  warning: $trib_red2,
  alert: $trib_red1
);
