
@import "../node_modules/foundation-sites/scss/_global.scss"; // Global vars from Foundation 6

// #####################
// #######  COLORS
// #####################

$trib_gray1:#222;
$trib_grey1:$trib_gray1;
$trib_gray2:#888;
$trib_grey2:$trib_gray2;
$trib_gray3:#aaa;
$trib_grey3:$trib_gray3;
$trib_grey4:#e0e0e0;
$trib_gray4:$trib_grey4;

$trib_blue1:#12182d;
$trib_blue2:#004E87;
$trib_blue3:#7493c1;
$trib_blue4:#85b4d3;
$trib_blue5:#cbdded;

$trib_red1: #8C001A;
$trib_red2: #C11B17;
$trib_red3: #DE5454;
$trib_red4: #eda398;
$trib_red5: #f7d9d1;

$trib_orange: #EB964F;

$trib_yellow1: #f5f50a;
$trib_yellow2: #ffff62;
$trib_yellow3: #ffffc4;

$trib_yellow_green: #D5D94D;
$trib_tan: #EFE7DB;

$trib_green2:#3a7f3b;
$trib_green3:#4da84e;
$trib_green1:#2e652f;
$trib_green4:#71be72;
$trib_green5:#b4ddb5;

$trib_violet: #7E587E;
$trib_blue_gray: #97ADBA;


$bears_blue: #0B162A;
$bears_orange: #C83803;

$cubs_blue: #0E3386;
$cubs_red: #CC3433;

$packers_green: #2C5E4F;
$packers_gold: #FFB612;


$color_map: (
	trib_gray1:$trib_gray1,
	trib_grey1:$trib_grey1,
	trib_gray2:$trib_gray2,
	trib_grey2:$trib_grey2,
	trib_gray3:$trib_gray3,
	trib_grey3:$trib_grey3,
	trib_grey4:$trib_grey4,
	trib_gray4:$trib_gray4,
	trib_blue1:$trib_blue1,
	trib_blue2:$trib_blue2,
	trib_blue3:$trib_blue3,
	trib_blue4:$trib_blue4,
	trib_blue5:$trib_blue5,
	trib_red1:$trib_red1,
	trib_red2:$trib_red2,
	trib_red3:$trib_red3,
	trib_red4:$trib_red4,
	trib_red5:$trib_red5,
	trib_orange:$trib_orange,
	trib_yellow1:$trib_yellow1,
	trib_yellow2:$trib_yellow2,
	trib_yellow3:$trib_yellow3,
	trib_yellow_green:$trib_yellow_green,
	trib_tan:$trib_tan,
	trib_green2:$trib_green2,
	trib_green3:$trib_green3,
	trib_green1:$trib_green1,
	trib_green4:$trib_green4,
	trib_green5:$trib_green5,
	trib_violet:$trib_violet,
	trib_blue_gray:$trib_blue_gray,
	bears_blue:$bears_blue,
	bears_orange:$bears_orange,
	cubs_blue:$cubs_blue,
	cubs_red:$cubs_red,
	packers_green:$packers_green,
	packers_gold:$packers_gold
	);




// DEFAULT COLOR CHOICES
$highlight_color:$trib_blue4;

// #####################
// #######  FONTS 
// #####################

$fonts-sans-serif: 'Arial', sans-serif;
$fonts-serif: "Georgia", serif;

// #####################
// #######  CONFIGURE BREAKPOINTS
// #####################

//Less than or equal to 700px is NGUX mobile
$breakpoint-mobile:839px;

// #####################
// #######  CONFIGURE LEGENDS
// #####################

$legend_dt_width: 10px;

// #####################
// #######  CONFIGURE BUTTONS
// #####################

$foundation-palette:(
  primary: $trib_blue2,
  secondary: $trib_blue4,
  success: $trib_green3,
  warning: $trib_red2,
  alert: $trib_red1
);
