
@import "../node_modules/foundation-sites/scss/_global.scss"; // Global vars from Foundation 6

// #####################
// #######  COLORS
// #####################




$trib_gray1:#888;
$trib_grey1:$trib_gray1;
$trib_gray2:#aaa;
$trib_grey2:$trib_gray2;
$trib_grey3:#e0e0e0;
$trib_gray3:$trib_grey3;

$trib_blue1:#12182d;
$trib_blue2:#004E87;
$trib_blue3:#7493c1;
$trib_blue4:#85b4d3;
$trib_blue5:#cbdded;

$trib_red1: #b75437;
$trib_red2: #de5454;
$trib_red3: #eda398;
$trib_red4: #f7d9d1;

$trib_orange: #EB964F;
$trib_yellow1: #FFD773;
$trib_yellow2: #FFF4DE;
$trib_yellow_green: #D5D94D;
$trib_tan: #EFE7DB;


$trib_violet: #823471;
$trib_green: #6F8D5C;
$trib_blue_gray: #97ADBA;


$bears_blue: #0B162A;
$bears_orange: #C83803;

$cubs_blue: #0E3386;
$cubs_red: #CC3433;

$packers_green: #203731;
$packers_gold: #FFB612;


// DEFAULT COLOR CHOICES
$highlight_color:$trib_blue4;

// #####################
// #######  CONFIGURE BREAKPOINTS
// #####################

//Less than or equal to 700px is NGUX mobile
$breakpoint-mobile:700px;



// #####################
// #######  CONFIGURE LEGENDS
// #####################

$legend_dt_width: 10px;

// #####################
// #######  CONFIGURE BUTTONS
// #####################

$foundation-palette:(
  primary: $trib_blue2,
  secondary: $trib_blue4,
  success: $trib_green,
  warning: $trib_red2,
  alert: $trib_red1
);
