.timeline{
	margin:0 0 15x 0;
	
	.timeline-module{
		padding:0 0 60px 20px;
		border-left:5px solid #e0e0e0;
		margin-left:8px;
		position:relative

		&:first-child{
			padding-top:0;
			margin-top:20px;
			border-top:none
		}

		&:last-child{
			padding-bottom:0
		}
		h4{
			line-height:1.3em
		}
		&.highlight{
			border-left-color:$trib_light_blue
			h4{
				margin-left:-25px;
				padding:2px 7px 2px 25px;
				border-radius:0 5px 5px 0;
				background-color:$trib_light_blue;
				display:inline-block;
				color:#fff
			}
			&:before{
				top:0;
				border-color:$trib_light_blue;
			}
		}

		&:before{
			content:' ';
			display:inline-block;
			background-color:#fff;
			border:5px solid #e0e0e0;
			border-radius:50%;
			height:10px;
			width:10px;
			position:absolute;
			top:-3px;
			left:-12px;
		}
	}
	.timeline-module.highlight, .timeline.dashed .timeline-module.highlight {
		border-color:$trib_light_blue;
	}
	.timeline.dashed {
		.timeline-module {
		border-left: 5px dashed $trib_light_gray;
	}
}
}
