table.trib-table{
	display:block;
	width:100%;
	&.dataTable,tfoot, thead{
		display:none;
		visibility:hidden;
	}
	tbody{display:block;
		width:100%;
	}
	td, th, tr{
		display:block;
		padding:0;
		text-align:left;
		white-space:normal;
		&[data-title]:before{
			content:"\203A\00A0" attr(data-title) ":\00A0";
			font-weight:700
		}
	}
	td{
		&:empty{
			display:none;
		}
		&:first-child{
			font-size:16px;
			font-weight:700;
			margin-bottom:6px;
			color:#333;
			&:before{content:''}
		}
	}
	tr{
		padding-bottom:11px;
		margin-bottom:11px;
		&:last-child{
			border-bottom:none;
			td{
				padding:0;
			}
		}
	}
	&.zebra tbody tr:nth-child(even){
		background:0 0;
	}
}