.clearfix, %clearfix {
	@include clearfix();
}

.fusion-table,.iframe-map{
	width:100%;
	height:400px;
	margin:15px 0
}

.show-phone{height:0;visibility:hidden;}

.embed_16x9{
  @include responsive_embed(16,9,0);
}

hr{
	@include horiz_rule();
}