.label1, .label2, .label3, .label4, .label5, .label6, .label7{
	margin:0;
	font-weight:bold;
}

// Sometimes we will want to use these styles on figcaptions (such as graphic labels), but the 
// current figure styling will clobber these styles. So I've added the figcaptions here
// to accomadate these use cases.

@for $i from 1 to 7{
	.trb_mainContent .trib-image .label#{$i}, 
	.trb_mainContent .trib-chart .label#{$i}, 
	.trib-image .label#{$i}, 
	.trib-chart .label#{$i}, 
	.label#{$i}{
		@include label#{$i}();
	}
}
	
// .trib-image figcaption.label1, .label1{
// 	@include label1();	
// }

// .trib-image figcaption.label2, .label2{
// 	@include label2();
// }

// .trib-image figcaption.label3, .label3{
// 	@include label3();
// }

// .trib-image figcaption.label4, .label4{
// 	@include label4();
// }
// .trib-image figcaption.label5, .label5{
// 	@include label5();
// }

// .trib-image figcaption.label6, .label6{
// 	// This is the bold leadin style ... just two clicks larger than base <p> text
// 	@include label6();
// }

// .trib-image figcaption.label7, .label7{
// 	// This is the bold leadin style for sans-serif ... just two clicks larger than base sans text
// 	@include label7();
// }


.trb_mainContent p, p{
	// Serif text. Base style. Pretty close to NGUX
	@include serif-text(18px, 27px);
	margin: 0 0 25px 0;
}

.trb_mainContent p.sans-serif, p.sans-serif, .sans-serif{
	// Standard sans-serif
	@include sans-serif-text(16px, 1.4em);
	margin: 0 0 25px 0;
}

.trb_mainContent p.agate, p.agate, .agate{
	// Standard sans-serif
	@include sans-serif-text(13px, 1.3em);
	margin: 0 0 15px 0;

}

.trb_mainContent ol, ol, .trb_mainContent ul, ul, .trb_mainContent dl, dl{
	@include serif-text(18px, 27px);
	margin-bottom:25px;
}
