.clearfix, %clearfix {
	@include clearfix();
}

.fusion-table,.iframe-map{
	width:100%;
	height:400px;
	margin:15px 0
}

.show-phone{height:0;visibility:hidden;}

.embed_16x9{
  @include responsive_embed(16,9,25px);
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


// Basic <figure> for image + caption.
.trib-image{
  @include trib_image();
}