@mixin timeline(){
	margin:0 0 15x 0;
}

@mixin event($border-color){
	padding:0 0 40px 20px;
	border-left:5px solid $border-color;
	margin-left:8px;
	position:relative;

	&:before{
		content:' ';
		display:inline-block;
		background-color:white;
		border:5px solid $border-color;
		border-radius:50%;
		height:15px;
		width:15px;
		position:absolute;
		top:-3px;
		left:-15px;
	}

	&:first-child{
		padding-top:0;
		margin-top:20px;
		border-top:none;
	}

	&:last-child{
		position: relative;
		&:after{
			content:"";
			display: block;
			background: $border-color;
			height:6px;
			width:16px;
			position:absolute;
			bottom:0;
			left:0;
			margin:0 0 0 -11px;
		}
	}
	.event__time{
		@include sans-serif-text(14px, 1.5em, bold);
		margin:0 0 5px 0;
	}
}



@mixin event--highlight($highlight_color){
	border-left-color:$highlight_color;
	.event__time{
		margin-left:-25px;
		padding:2px 7px 2px 25px;
		border-radius:0 5px 5px 0;
		background-color:$highlight_color;
		display:inline-block;
		color:white;
	}
	&:before{
		top:0;
		border-color:$highlight_color;
	}
}