@mixin trib-table(){
	width:100%;
	margin:0 0 25px 0;
	border-collapse:collapse;

	thead {
		// background-color:$trib_blue1;
		background-color: transparent;
		border-bottom: 2px solid black;
		padding-bottom: 5px;
	}

	tbody{
		tr{
			vertical-align:top

			&:first-child td{
				padding-top:12px
			}
		}
	}

	td, th{
		@include sans-serif-text(16px, 1.4em);

	}

	td{
		padding:7px 3px;

		&:first-child{
			padding-left:0;
		}

		&:last-child{
			padding-right:0;
		}
	}
	th{
		padding: 0 3px 3px 3px;
		font-weight: bold;
		text-align:left;
		color:black;
	}
	tr{
		border-bottom: 1px solid #ccc;
		&:last-child{
			border-bottom:2px solid black;
			// td{
			// 	padding-top:10px;
			// 	padding-bottom:10px
			// }
		}
	}
	
	.align-right{
		text-align:right;
	}

}

@mixin trib-table--compressed{
		thead{
			border-bottom: 1px solid black;
		}
		td, th{
			@include sans-serif-text(14px, 1.4em);
			
			&:first-child{
				padding-right:0;
			}
		}

		th {
			font-weight: bold;
			border-right: none;
			padding: 0 3px;
			color: #000;
		}

		td{
			padding: 3px;
		}

		tr{
			border-bottom:none;
			&:last-child {
				border-bottom:none;
				// td {
				// 	padding-top: 7px;
				// 	padding-bottom: 7px;
				// }
			}
		}
		
		tbody tr {
			line-height: 1em;

			&:first-child td {
				padding-top: 7px;
			}
		}


}
@mixin trib-table--zebra($color1:$trib_blue5, $color2:transparent){
	td, th{
		padding:7px
	}
	tbody {
		tr:nth-child(even){
			background-color:$color1;
		}	

		tr:nth-child(odd){
			background-color:$color2;
		}	
	}
}

@mixin trib-table--responsive($breakpoint){
	@media all and (max-width:#{$breakpoint}){
		display:block;
		width:100%;

		.align-right{
			text-align: left;
		}

		&.dataTable,tfoot, thead{
			display:none;
			visibility:hidden;
		}
		tbody{display:block;
			width:100%;
		}
		td, th, tr{
			display:block;
			padding:0;
			text-align:left;
			white-space:normal;
			&[data-title]:before{
				content:"\2022\00A0" attr(data-title) ":\00A0";
				font-weight:700
			}
		}
		td{
			
			&:empty{
				display:none;
			}
			&:first-child{
				@include sans-serif-text(18px, 1.4em, bold)
				margin-bottom:6px;
				color:#333;
				&:before{content:''}
			}
		}
		tbody tr{
			padding:11px 0;
			&:last-child{
				border-bottom:none;
				td{
					padding:0;
				}
			}
			&:nth-child(even), &:nth-child(odd){
				// This is needed to undo the zebra striping, if used, from the zebra mixin
				background:none;
			}
		}
	}
}