@mixin clearfix(){
	&:before{
		content:" ";
		display:table
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin responsive_embed($width:16, $height:9, $padding_top:0){
	// the idea here is someone can call the responsive embed by putting the ratios in the mixin.
	// the default is 16x9

	$ratio: percentage($height/$width);

	position: relative;
	padding-bottom: $ratio;
	padding-top: $padding_top;
	height: 0;
	
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin trib_image($max_width:-1){

	$margin_left: if($max_width<0, 0, auto);
	$margin_right: if($max_width<0, 0, auto);
	$calculated_max_width: if($max_width<=0, none, $max_width);

	max-width:$calculated_max_width;
	margin:0 $margin_right 25px $margin_left;
	

	img{
		width:100%;
		margin:0 0 7px 0;
	}

	figcaption{
		@include sans-serif-text(12px, 1.3em, normal)
	}
}

@mixin trib_photo($max_width:-1){
	// We won't tell anyone. But this probably will save some folks a bit of grief.
	@include trib_image($max-width);
}

@mixin trib_chart(){
	margin:0 0 25px 0;
	padding:0;
}

@mixin horiz_rule(){
	border: 0;
	height: 1px;
	background:$trib_gray4;
	margin:25px 0;
}