@mixin trib-table($type:standard){

	// *************
	// First the common elements
	// *************

	width:100%;
	margin:0 0 25px 0;
	border-collapse:collapse;

	thead {
		padding-bottom: 5px;
	}

	tbody{
		tr{
			vertical-align:top

			&:first-child td{
				padding-top:12px
			}
		}
	}

	td, th{
		padding:7px 3px;
		&:first-child{padding-left:0;}
		&:last-child{padding-right:0;}
	}

	th{
		padding: 0 3px 3px 3px;
		font-weight: bold;
		text-align:left;
		color:black;
	}

	// Add class='align-right' to any cell for the content to text-align:right;
	th, td{
		&.align-right{
			text-align:right;
		}
	}

	// *************	
	// Now the elements specific to either the standard or compressed versions
	// *************

	@if $type == compressed {
		thead {
			border-bottom: 1px solid black;
		}

		// Font styles
		th {
			@include sans-serif-text(14px, 1.4em, bold);
		}

		td {
			@include sans-serif-text(14px, 1.4em);
		}
		
		td, th{
			padding:4px 3px;
		}


		// No border between <tr>
		tr{
			border-bottom: none;
			&:last-child{
				border-bottom:none;
			}
		}
	} @else {
		thead {
			border-bottom: 2px solid black;
			// padding-bottom: 5px;
		}
		
		// Font styles
		th {
			@include sans-serif-text(16px, 1.4em, bold);
		}

		td {
			@include sans-serif-text(16px, 1.4em);
		}

		td, th{
			padding:7px 3px;
		}

		// Add the border to the bottom of the table and rules in between each row.
		tr{
			border-bottom: 1px solid #ccc;
			&:last-child{
				border-bottom:2px solid black;
			}
		}

	} 
}


@mixin trib-table--zebra($color1:$trib_blue5, $color2:transparent){
	td, th{
		padding:7px;
		&:first-child{padding-left:7px;}
		&:last-child{padding-right:7px;}
	}
	tbody {
		tr:nth-child(even){
			background-color:$color1;
		}	

		tr:nth-child(odd){
			background-color:$color2;
		}	
	}
}

@mixin trib-table--responsive($breakpoint){
	@media all and (max-width:#{$breakpoint}){
		display:block;
		width:100%;

		td.align-right, th.align-right{
			text-align: left;
		}

		&.dataTable,tfoot, thead{
			display:none;
			visibility:hidden;
		}
		tbody{display:block;
			width:100%;
		}
		td, th, tr{
			display:block;
			padding:0;
			text-align:left;
			white-space:normal;
			&[data-title]:before{
				content:"\2022\00A0" attr(data-title) ":\00A0";
				font-weight:700
			}
		}
		td{
			
			&:empty{
				display:none;
			}
			&:first-child{
				@include sans-serif-text(18px, 1.4em, bold)
				margin-bottom:6px;
				color:#333;
				&:before{content:''}
			}
		}
		tbody tr{
			padding:11px 0;
			&:last-child{
				border-bottom:none;
				td{
					padding:0;
				}
			}
			&:nth-child(even), &:nth-child(odd){
				// This is needed to undo the zebra striping, if used, from the zebra mixin
				background:none;
			}
		}
	}
}