@mixin sans-serif-text($font-size, $line-height){
	font-family:'Arial', sans-serif;
	line-height:$line-height;
	font-size:$font-size;
	// NGUX, at some widths, forces paragraph text to 80% width.
	width:auto;
}


@mixin serif-text($font-size, $line-height){
	font-family:'Georgia', serif;
	line-height:$line-height;
	font-size:$font-size;
	color:#333;
	// NGUX, at some widths, forces paragraph text to 80% width.
	width:auto;
}
