@mixin clearfix(){
	&:before{
		content:" ";
		display:table
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin responsive_embed($width:16, $height:9, $padding_top:0){
	// the idea here is someone can call the responsive embed by putting the ratios in the mixin.
	// the default is 16x9

	$ratio: percentage($height/$width);

	position: relative;
	padding-bottom: $ratio;
	padding-top: $padding_top;
	height: 0;
	
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin trib_image(){
	margin:0 0 15px 0;

	img{
		width:100%;
		margin:0 0 7px 0;
	}

	figcaption{
		@include sans-serif-text(12px, 1.3em, normal)
	}
}

@mixin horiz_rule(){
	border: 0;
	height: 1px;
	background:$trib_gray4;
	margin:25px 0;
}